table.spreadsheet{
margin:10px 0;
border:#999 1px solid;
}

table.spreadsheet th{
background:#ccc;
font-weight:bold;
font-size:12px;
padding:5px 2px;
}


table.spreadsheet td{
border-top:#999 1px solid;
padding:5px 2px;
}